<!DOCTYPE html>
<html>
   <head>
      <title>Revoke Page</title>
      <link rel="stylesheet" href="./styles/style.css" />
   </head>
   <body>
      <nav class="bg-gray-800">
         <div class="max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between">
               <div
                  class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
               >
                  <div class="flex flex-shrink-0 items-center">
                     <h1 class="text-xl text-white">
                        Identity Provider Revocation Interface
                     </h1>
                  </div>
                  <div class="sm:ml-6 sm:block">
                     <div class="flex space-x-4">
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                        <a
                           href="/revocation"
                           class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white"
                           aria-current="page"
                           >Revocation</a
                        >
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </nav>
      <div class="flex justify-center mt-6 mb-4">
         <h1 class="text-3xl font-bold">List of Issued Account</h1>
      </div>
      <table class="w-1/3 mx-auto">
         <thead class="border-solid border-2 border-black">
            <tr>
               <th>UUID</th>
               <th>NIM</th>
               <th>Action</th>
            </tr>
         </thead>
         <tbody>
            <% for(let i = 0; i < accountData.length; i++) { %>
            <tr class="border-solid border-2 border-black">
               <td class="text-center p-4"><%= accountData[i].uuid %></td>
               <td class="text-center p-4"><%= accountData[i].nim %></td>
               <td class="p-4">
                  <form method="POST" action="/revocation/revoke">
                     <input
                        type="hidden"
                        name="id"
                        value="<%= accountData[i].id %>"
                     />
                     <input
                        type="hidden"
                        name="cred_rev_id"
                        value="<%= accountData[i].cred_rev_id %>"
                     />
                     <input
                        type="hidden"
                        name="rev_reg_id"
                        value="<%= accountData[i].rev_reg_id %>"
                     />
                     <div class="flex justify-center">
                        <button
                           class="bg-red-500 hover:bg-red-700 active:bg-red-800 active:transform active:scale-95 text-white font-semibold py-2 px-4 rounded transition duration-150 ease-in-out"
                           type="submit"
                        >
                           Revoke
                        </button>
                     </div>
                  </form>
               </td>
            </tr>
            <% } %>
         </tbody>
      </table>
   </body>
</html>
